{
  "presets": ["react", "es2015", "stage-0", "stage-1"],
  "plugins": [
  	["module-alias", [
      { "src": "./imp_pat_modules/ui-kit", "expose": "@imp_pat/ui-kit" },
    ]],
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
