.container {
	position: relative;
}
.container:hover .ul{
	height: initial;
}
.ul {
	overflow: hidden;
	position: absolute;
	list-style-type: none;
	padding-left: 0;
	height: 0px;
	transition: all 0.5s;
	display: block;
    width: 100%;
}